RewriteEngine On

# Redirect all requests to the public subdirectory
RewriteCond %{REQUEST_URI} !^/src/www/
RewriteRule ^(.*)$ /src/www/$1 [L]

# Set the directory index file for the public subdirectory
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    # Enable RewriteEngine in the public directory
    RewriteEngine On

    # Rewrite rules for the public directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>